<div style="align-items: center;height: 100vh;" class="container outerWrapper">
  <img *ngIf="score===totalScore && isGameOverKey==true" class="bgImg" style="position:absolute;opacity: .3;"
    src="../../assets/party1.gif">
  <div class="content">
    <h2 class="text-center heading">BOMBER</h2>
    <p class="text-center info">Be carful while touching</p>
    <div class="main rounded ">
      <div class="mb-2">
        <h2 class="levelBoard">Level {{level-2}}</h2>
        <h6 class="scorebord">Score: {{score}}</h6>
      </div>
      <div style="background-color: white;" class="p-2 mb-3 rounded" *ngIf="score===totalScore || isGameOverKey==true">
        <p class="resultBoard m-0" [ngStyle]="{'color':result!=='You Win:)'?'red':'green'}">{{result}}</p>
      </div>
      <div class="buttonsWrapper">
        <button (click)="gameOverFunc()" *ngIf="isGameOverKey==true && result!=='You Win:)'"
          class="btn btn-warning m-2">New Game</button>
        <button (click)="nextLevelFunc()" *ngIf="score===totalScore" class="btn btn-success m-2">Next Level</button>
      </div>
      <div style="width: 100%;" class="container">
        <div>
          <div class="parent" [style]="gridFunc()">
            <div style="height: 2em;" class="cell text-center fs-2 pt-3 content" (click)="scoreFunc(initialArray[i],i)"
              [ngStyle]="{'background-color':(bgColorArray[i] === true || (score===totalScore || isGameOverKey==true)) ?( (initialArray[i]==='x' || initialArray[i]===0)?'red':'white' ): 'gray','color':(bgColorArray[i] === true || (score===totalScore || isGameOverKey==true)) ? 'black' : 'gray' }"
              *ngFor="let element of initialArray;let i=index">
              <p style="position: relative;bottom: 10px;" *ngIf="!imgFunc(element)">{{element}}</p>
              <img id="bombImg" class="img-fluid" *ngIf="imgFunc(element)" src="../../assets/final.gif">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
